<div class="page_wrap">
  <header>
    <h3>Your personal SKU generator</h3>
  </header>

  <form ng-submit="submit()" class="gen_controls_wrap">
    <div class="me_input me_input_style">
      <label>letters in front</label>
      <input type="text" ng-model="frontLetters" placeholder="ex. ABC"/>
    </div>
    <div class="me_input me_input_style">
      <label>letters in back</label>
      <input type="text" ng-model="backLetters" placeholder="ex. ABC" />
    </div>
    <div class="me_input me_input_style">
      <label>how many SKUs?</label>
      <input type="number" ng-model="genCount" placeholder="ex. 30" />
    </div>
    <div class="me_input submit">
      <button class="submit_btn" type="submit" ng-hide="genPushed">
        <span>Generate</span>
      </button>
      <button class="submit_btn" type="submit" ng-show="genPushed">
        <span>Add to end</span>
      </button>
    </div>
  </form>
  <button ng-click="clearGen()" ng-show="genPushed">Clear</button>

  <div>
    <p>Configuration: {{genConfig}}</p>
    <p>Count: {{genConfig.genCount}}</p>
  </div>

  <h2>Your SKUs</h2>
  <div class="gen_results" ng-repeat="item in sku">
    <span>{{item}}</span>
  </div>

</div>
